<!DOCTYPE html>
<html ng-app="showsApp">
    <head>
        <base href="/"></base>
        <meta charset="utf-8">
        <title>Tv Shows app</title>

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,600' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- Angular sources -->
        <script src="https://code.angularjs.org/1.5.6/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
        <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

        <!-- App sources -->
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
    </head>
    <body>

        <div class="sidebar" ng-controller="SidebarCtrl as side">
            <div class="logo">
                <a href="shows"><h1>ShowsApp</h1></a>
            </div>

            <div class="authentication" ng-controller="AuthCtrl as vm">
                <div ng-hide="side.connected()" class="button" ng-click="vm.login()">Login</div>

                <div ng-show="side.connected()" class="profile">
                    <p>{{ vm.getUserLogin() }} - {{ vm.getUserXp() }} xp</p>
                    <div class="button" ng-click="vm.logout()">Logout</div>
                </div>
            </div>

            <nav ng-controller="NavCtrl as vm">
                <ul>
                    <li><a href="shows" ng-class="{ active: vm.isActive('/shows')}">Shows</a></li>
                    <li><a ng-show="side.connected()" href="myshows" ng-class="{ active: vm.isActive('/myshows')}">My shows</a></li>
                    <li><a ng-show="side.connected()" href="episodes" ng-class="{ active: vm.isActive('/episodes')}">Episodes to watch</a></li>
                    <li><a href="search" ng-class="{ active: vm.isActive('/search')}">Search</a></li>
                </ul>
            </nav>
        </div>

        <div class="main" ng-view>

        </div>

    </body>
</html>
